<!DOCTYPE HTML>
<html ng-app="cv">
<head>
   <title ng-bind="title">CV</title>
   <link rel="stylesheet" href="style.css" />
   <!-- bower:js -->
   <script src="bower_components/angular/angular.js"></script>
   <!-- endbower -->
   <script type="text/javascript" src="data.js"></script>
   <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="app" ng-cloak>
   <div class="container">
      <section class="block">
         <h2>{{ i18n('contact.title') }}</h2>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.name') }}</span>
            <span class="info-list__value">
               {{ i18nData('data.contact.name') }}
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.dateOfBirth') }}</span>
            <span class="info-list__value">
               <span ng-if="locale=='en'">{{ data.contact.dateOfBirth | date:'MM/dd/yyyy' }}</span>
               <span ng-if="locale=='ru'">{{ data.contact.dateOfBirth | date:'dd.MM.yyyy' }}</span>
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.email') }}</span>
            <span class="info-list__value">
               <a ng-href="{{ 'mailto:' + data.contact.email }}">
                  {{ data.contact.email }}
               </a>
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.skype') }}</span>
            <span class="info-list__value">
               <a ng-href="{{ 'skype:' + data.contact.skype }}">
                  {{ data.contact.skype }}
               </a>
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.github') }}</span>
            <span class="info-list__value">
               <a ng-href="{{ data.contact.github.url }}" target='_blank'>
                  {{ data.contact.github.name }}
               </a>
            </span>
         </div>
      </section>

      <section class="block">
         <h2>{{ i18n('education.title') }}</h2>
         <div ng-repeat="step in data.education">
            <p>
               {{ i18nData('step.institution') }}
            </p>
            <p>
               {{ i18nData('step.degree') }}
               <span>{{ step.start }} - {{ step.end }}</span>
            </p>
         </div>
      </section>

      <section class="block">
         <h2>{{ i18n('spokenLanguages.title') }}</h2>
         <div>
            <span class="knowledge-entity" ng-class="'knowledge-entity--level-' + language.level" ng-repeat="language in data.spokenLanguages">
               <span class="knowledge-entity__item">
                  {{ i18nData('language.name') }}
               </span>
               <span class="knowledge-entity__level">
                  {{ getSpokenLanguageLevelTitle(language.level) }}
               </span>
            </span>
         </div>
      </section>

      <section class="block">
         <h2>{{ i18n('technologies.title') }}</h2>
         <table class="list-table">
            <tbody>
               <tr ng-repeat="technology in data.technologies">
                  <td>
                     {{ i18nData('technology.category') }}
                  </td>
                  <td>
                     <span class="knowledge-entity"
                           ng-class="['knowledge-entity--level-' + item.level, !$parent.$first ? 'knowledge-entity--margin-top' : '']"
                           ng-repeat="item in technology.items | orderBy:'level'">
                        <span class="knowledge-entity__item">
                           {{ item.name }}
                           <span class="knowledge-entity__version">
                              <span ng-repeat="version in item.versions">
                                 {{ version }}<span ng-if="!$last">,</span>
                              </span>
                           </span>
                        </span>
                        <!--<span class="knowledge-entity__level">{{ item.level }}/5</span>-->
                        <span class="knowledge-entity__level-meter">
                           <span class="knowledge-entity__level-meter__meter"></span>
                        </span>
                     </span>
                  </td>
               </tr>
            </tbody>
         </table>
      </section>

      <section class="block block--no-margin">
         <h2>{{ i18n('experience.title') }}</h2>
         <table class="list-table">
            <tbody>
               <tr ng-repeat="work in data.experience">
                  <td>
                     <div class="work">
                        <div>
                           <span class="work__company">
                              <span ng-if="!work.site">{{ work.company }}</span>
                              <a ng-if="work.site" ng-href="{{ work.site }}">{{ work.company }}</a>
                           </span>
                        </div>
                        <div class="work__position">{{ i18nData('work.position') }}</div>
                        <div class="work__time-span">
                           {{ work.start | date:'MMMM yyyy' }} - {{ work.end | date:'MMMM yyyy' }}
                        </div>
                     </div>
                  </td>
                  <td>
                     <div class="project" ng-repeat="project in work.projects">
                        <div class="project__name">
                           <span ng-if="!project.site">{{ project.name }}</span>
                           <a ng-if="project.site" ng-href="{{ project.site }}">{{ project.name }}</a>
                        </div>
                        <div clss="project__description">{{ i18nData('project.description') }}</div>
                        <div class="project__technologies">
                           <span class="knowledge-entity" ng-repeat="technology in project.technologies">
                              <span class="knowledge-entity__item">
                                 {{ technology.name }}
                                 <span class="knowledge-entity__version">
                                    {{ technology.version }}
                                 </span>
                              </span>
                           </span>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </section>
   </div>
</body>
</html>
