<!DOCTYPE HTML>
<html ng-app="cv">
<head>
   <meta charset="utf-8" />
   <title>CV</title>
   <link rel="stylesheet" href="style.css" />
   <!-- bower:js -->
   <script src="bower_components/angular/angular.js"></script>
   <!-- endbower -->
   <script type="text/javascript" src="data.js"></script>
   <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="app" ng-cloak>
   <div class="container">
      <ul class="languages">
         <li class="languages__language" ng-class="locale=='en' ? 'languages__language--active' : ''"><a ng-click="setLocale('en')">En</a></li>
         <li class="languages__language" ng-class="locale=='ru' ? 'languages__language--active' : ''"><a ng-click="setLocale('ru')">Рус</a></li>
      </ul>
      <section class="block">
         <h2>{{ i18n('contact.title') }}</h2>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.name') }}</span>
            <span class="info-list__value">
               {{ i18nData('data.contact.name') }}
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.dateOfBirth') }}</span>
            <span class="info-list__value">
               <span ng-if="locale=='en'">{{ data.contact.dateOfBirth | date:'MM/dd/yyyy' }}</span>
               <span ng-if="locale=='ru'">{{ data.contact.dateOfBirth | date:'dd.MM.yyyy' }}</span>
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.email') }}</span>
            <span class="info-list__value">
               <a ng-href="{{ 'mailto:' + data.contact.email }}">
                  {{ data.contact.email }}
               </a>
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.skype') }}</span>
            <span class="info-list__value">
               <a ng-href="{{ 'skype:' + data.contact.skype }}">
                  {{ data.contact.skype }}
               </a>
            </span>
         </div>
         <div class="info-list">
            <span class="info-list__category">{{ i18n('contact.github') }}</span>
            <span class="info-list__value">
               <a ng-href="{{ data.contact.github.url }}" target='_blank'>
                  {{ data.contact.github.name }}
               </a>
            </span>
         </div>
      </section>

      <section class="block">
         <h2>{{ i18n('education.title') }}</h2>
         <div ng-repeat="step in data.education">
            <p>
               {{ i18nData('step.institution') }}
            </p>
            <p>
               {{ i18nData('step.degree') }}
               <span>{{ step.start }} - {{ step.end }}</span>
            </p>
         </div>
      </section>

      <section class="block">
         <h2>{{ i18n('spokenLanguages.title') }}</h2>
         <div>
            <span class="knowledge-entity" ng-class="'knowledge-entity--level-' + language.level" ng-repeat="language in data.spokenLanguages">
               <span class="knowledge-entity__item">
                  {{ i18nData('language.name') }}
               </span>
               <span class="knowledge-entity__level">
                  {{ getSpokenLanguageLevelTitle(language.level) }}
               </span>
            </span>
         </div>
      </section>

      <section class="block">
         <h2>{{ i18n('technologies.title') }}</h2>
         <div class="list">
            <div class="list__row" ng-repeat="technology in data.technologies">
               <div class="list__cell list__cell--groupping">
                  {{ i18nData('technology.category') }}
               </div>
               <div class="list__cell">
                  <span class="knowledge-entity"
                        ng-class="'knowledge-entity--level-' + item.level"
                        ng-repeat="item in technology.items | orderBy:'level':true">
                     <span class="knowledge-entity__item">
                        {{ item.name }}
                        <span class="knowledge-entity__version">
                           <span ng-repeat="version in item.versions">
                              {{ version }}<span ng-if="!$last">,</span>
                           </span>
                        </span>
                     </span>
                     <!--<span class="knowledge-entity__level">{{ item.level }}/5</span>-->
                     <span class="knowledge-entity__level-meter">
                        <span class="knowledge-entity__level-meter__meter"></span>
                     </span>
                  </span>
               </div>
            </div>
         </div>
      </section>

      <section class="block block--no-margin">
         <h2>{{ i18n('experience.title') }}</h2>
         <div class="list">
            <div class="list__row" ng-repeat="work in data.experience">
               <div class="list__cell list__cell--groupping">
                  <div class="work">
                     <div>
                        <span class="work__company">
                           <span ng-if="!work.site">{{ i18nData('work.company') }}</span>
                           <a ng-if="work.site" ng-href="{{ work.site }}">{{ work.company }}</a>
                        </span>
                     </div>
                     <div class="work__position">{{ i18nData('work.position') }}</div>
                     <div class="work__time-span">
                        {{ work.start | date:'MMMM yyyy' }} - {{ work.end | date:'MMMM yyyy' }}
                     </div>
                  </div>
               </div>
               <div class="list__cell">
                  <div class="project" ng-repeat="project in work.projects">
                     <div class="project__name">
                        <span ng-if="!project.site">{{ i18nData('project.name') }}</span>
                        <a ng-if="project.site" ng-href="{{ project.site }}">{{ project.name }}</a>
                     </div>
                     <div clss="project__description">{{ i18nData('project.description') }}</div>
                     <div class="project__technologies">
                        <span class="knowledge-entity" ng-repeat="technology in project.technologies">
                           <span class="knowledge-entity__item">
                              {{ technology.name }}
                              <span class="knowledge-entity__version">
                                 {{ technology.version }}
                              </span>
                           </span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</body>
</html>
