/* nyk0r.github.io 2014-09-15 05:09:00 */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fbfbfb;
  color: #333333;
}
h2 {
  margin: 0 0 .8em 0;
  border-bottom: 2px solid #bfbfbf;
}
p {
  margin: 0.5em 0;
}
a {
  display: inline-block;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: #555555;
  text-decoration: none;
  -webkit-transition: color .25s linear;
          transition: color .25s linear;
}
a:active,
a:hover {
  color: #2e5576;
}
.container {
  width: 1000px;
  margin: 3em auto;
  background-color: #eeeeee;
  box-shadow: 0 0 25px #bfbfbf;
  border-width: 1px;
  padding: 1em;
  border-style: solid;
  border-color: #bfbfbf;
  border-radius: 5px;
}
.info-list__category {
  margin-top: .5em;
  display: inline-block;
  width: 10em;
  color: #555555;
}
.info-list__category::after {
  content: ':';
}
.knowledge-entity {
  display: inline-block;
  margin: 0 1em 1em 0;
  border-width: 1px 1px 1px 3px;
  background-color: #FFF;
  border-color: #bfbfbf;
  border-style: solid;
  border-radius: 3px;
  text-align: center;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 2px 5px rgba(0, 0, 0, 0.125);
}
.knowledge-entity__item {
  display: block;
  padding: 0.3em;
}
.knowledge-entity__version {
  font-size: 0.7em;
  color: #bfbfbf;
}
.knowledge-entity__version::before {
  content: '[';
}
.knowledge-entity__version::after {
  content: ']';
}
.knowledge-entity__level {
  display: block;
  border-top: solid 1px #bfbfbf;
  padding: 0.3em;
  font-size: 0.8em;
  color: #555555;
}
.knowledge-entity__level-meter {
  display: block;
  min-width: 5em;
  margin: 3px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}
.knowledge-entity__level-meter__meter {
  display: block;
  height: 3px;
  border-radius: 3px;
}
.knowledge-entity--level-1 {
  border-color: #89b1d1;
}
.knowledge-entity--level-1 .knowledge-entity__level-meter__meter {
  background-color: #89b1d1;
  width: 20%;
}
.knowledge-entity--level-2 {
  border-color: #6c9dc6;
}
.knowledge-entity--level-2 .knowledge-entity__level-meter__meter {
  background-color: #6c9dc6;
  width: 40%;
}
.knowledge-entity--level-3 {
  border-color: #4f8aba;
}
.knowledge-entity--level-3 .knowledge-entity__level-meter__meter {
  background-color: #4f8aba;
  width: 60%;
}
.knowledge-entity--level-4 {
  border-color: #396a93;
}
.knowledge-entity--level-4 .knowledge-entity__level-meter__meter {
  background-color: #396a93;
  width: 80%;
}
.knowledge-entity--level-5 {
  border-color: #2e5576;
}
.knowledge-entity--level-5 .knowledge-entity__level-meter__meter {
  background-color: #2e5576;
  width: 100%;
}
.list__row {
  margin-top: 1em;
  border-bottom: 1px solid #bfbfbf;
  box-shadow: 0 1px #fbfbfb;
}
.list__row:last-child {
  border-bottom: 0;
  box-shadow: none;
}
.list__cell {
  display: table-cell;
  padding-right: 1em;
}
.list__cell--groupping {
  width: 10em;
}
.block {
  margin-bottom: 1em;
  background-color: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  border-width: 1px;
  padding: 1em;
  border-style: solid;
  border-color: #bfbfbf;
  border-radius: 5px;
}
.block--no-margin {
  margin-bottom: 0;
}
.work__company {
  font-weight: bold;
}
.work__time-span {
  margin: 1em 0;
}
.project__name {
  font-weight: bold;
}
.languages {
  list-style-type: none;
  float: right;
  margin: -2.5em 0 0 0;
}
.languages__language {
  display: inline-block;
  cursor: pointer;
}
.languages__language--active {
  color: #4f89bb;
  text-shadow: 0 0 3px #4f89bb;
}
