@gray-darker:  lighten(#000, 13.5%);
@gray-dark:    lighten(#000, 20%);
@gray:         lighten(#000, 33.5%);
@gray-light:   lighten(#000, 75%);
@gray-lighter: lighten(#000, 93.5%);
@gray-white:   lighten(#000, 98.5%);

@active-link: #2E5576;
@knowledge-levels: #89B1D1, #6C9DC6, #4F8ABA, #396A93, #2E5576;

body {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   background-color: @gray-white;
   color: @gray-dark;
}

h2 {
   margin: 0 0 .8em 0;
   border-bottom: 2px solid @gray-light;
}

p {
   margin: 0.5em 0;
}

a {
   display: inline-block;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   color: @gray;
   text-decoration: none;
   transition: color .25s linear;

   &:active, &:hover {
      color: @active-link;
   }
}

.block-layout() {
   border-width: 1px;
   padding: 1em;

   border-style: solid;
   border-color: @gray-light;
   border-radius: 5px;
}

.container {
   width: 1000px;
   margin: 3em auto;
   background-color: @gray-lighter;
   box-shadow: 0 0 25px @gray-light;
   .block-layout();
}

.info-list {
   &__category {
      margin-top: .5em;
      display: inline-block;
      width: 10em;
      color: @gray;

      &::after {
         content: ':';
      }
   }

   &__value { }
}

.knowledge-entity {
   display: inline-block;
   margin: 0 1em 1em 0;
   border-width: 1px 1px 1px 3px;
   background-color: #FFF;
   border-color: @gray-light;
   border-style: solid;
   border-radius: 3px;
   text-align: center;
   box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0 2px 5px rgba(0,0,0,.125);

   &__item {
      display: block;
      padding: 0.3em;
   }

   &__version {
      font-size: 0.7em;
      color: @gray-light;

      &::before {
         content: '[';
      }

      &::after {
         content: ']';
      }
   }

   &__level {
      display: block;
      border-top: solid 1px @gray-light;
      padding: 0.3em;
      font-size: 0.8em;
      color: @gray;
   }

   &__level-meter {
      display: block;
      min-width: 5em;
      margin: 3px;

      border: 1px solid @gray-light;
      border-radius: 3px;

      &__meter {
         display: block;
         height: 3px;
         border-radius: 3px;
      }
   }
}

.generate-knowledge-entity--level(1);

.generate-knowledge-entity--level(@level) when (@level <= length(@knowledge-levels)) {
   .knowledge-entity--level-@{level} {
      border-color: extract(@knowledge-levels, @level);

      .knowledge-entity__level-meter__meter {
         background-color: extract(@knowledge-levels, @level);
         width: percentage(@level/length(@knowledge-levels));
      }
   }
   .generate-knowledge-entity--level((@level + 1));
}

.list {
   &__row {
      margin-top: 1em;
      border-bottom: 1px solid @gray-light;
      box-shadow: 0 1px @gray-white;
      &:last-child {
         border-bottom: 0;
         box-shadow: none;
      }
   }

   &__cell {
      display: table-cell;
      padding-right: 1em;

      &--groupping {
         width: 10em;
      }
   }
}

.block {
   margin-bottom: 1em;

   background-color: #FFF;
   box-shadow: 0 3px 5px rgba(0,0,0,.125);
   .block-layout();

   &--no-margin {
      margin-bottom: 0;
   }
}

.work {
   &__company {
      font-weight: bold;
   }

   &__position { }

   &__time-span {
      margin: 1em 0;
   }
}

.project {
   &__name {
      font-weight: bold;
   }

   &__description { }

   &__technologies { }
}

.languages {
   list-style-type: none;
   float: right;
   margin: -2.5em 0 0 0;

   &__language {
      display: inline-block;
      cursor: pointer;

      &--active {
         color: lighten(@active-link, 20%);
         text-shadow: 0 0 3px lighten(@active-link, 20%);
      }
   }
}
